@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4
  }

  button {
    @apply text-white border  bg-rose-500
    hover:bg-transparent hover:text-rose-600 rounded-md
  }
}

@layer components{
  .card{
    @apply bg-white text-gray-700
    w-72 min-h-[10rem]
    shadow-lg rounded-md overflow-hidden
  }
}